<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit <%= recipe.mealName %></h1>

    <form action="/mealPrep/<%= recipe._id %>?_method=PUT" method="POST">
        Meal Name: <input name="mealName" type="text" value="<%= recipe.mealName %>">
        <br><br>
        About: <input name="notes" type="text" value="<%= recipe.notes %>">
        <br><br>
        Ingredients: <input name="ingredients" type="text" value="<%= recipe.ingredients %>">
        <br><br>
        Instructions: <input name="instructions" type="text" value="<%= recipe.instructions %>">
        <br><br>
        Protein: <input name="protein" type="number" value="<%= recipe.protein %>">
        <br><br>
        Fat: <input name="fat" type="number" value="<%= recipe.fat %>">
        <br><br>
        Carbs: <input name="carbs" type="number" value="<%= recipe.carbs %>">
        <br><br>
        Calories: <input name="calories" type="number" value="<%= recipe.calories %>">
        <br><br>
        <input type="submit" value="SAVE CHANGES">
    </form>
    
</body>
</html>