<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/mealPrep">Go Back</a>
    <h1><%=  recipe.mealName  %></h1>
    <h2>About:</h2>
    <%=  recipe.notes  %>


    <ul>
        <h2>Ingredients:</h2>
        <% recipe.ingredients.forEach(function(item,index){ %>
            <li> <%= item %> </li>
        <% }) %>
    </ul>



    <ol>
        <h2>Instructions:</h2>
        <% recipe.instructions.forEach(function(item,index){ %>
            <li> <%= item %> </li>
        <% }) %>
    </ol>


    <br>
    <h2>Nutrition Facts:</h2>
    <h4>Protein: <%=  recipe.protein  %>g</h4>
    <h4>Fat: <%=  recipe.fat  %>g</h4>
    <h4>Carbs: <%=  recipe.carbs  %>g</h4>
    <h4>Total Calories: <%=  recipe.calories  %> kcal</h4>

    <br><br><br><br>

    <form action="/mealPrep/<%= recipe._id %>/edit">
        <input type="submit" value="EDIT MEAL" />
    </form>

    <br>

    <form method="POST" action="/mealPrep/<%= recipe._id %>?_method=DELETE">
        <input type="submit" value="DELETE MEAL">
    </form>


</body>
</html>