<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/mealPrep">Go Back</a>
    <h2>MEAL NAME: <%=  recipe.mealName  %></h2>
    <h2>About: <%=  recipe.notes  %></h2>
    <h2>ingredients: <%=  recipe.ingredients  %></h2>
    <h2>instructions: <%=  recipe.instructions  %></h2>

    <h2>protein: <%=  recipe.protein  %></h2>
    <h2>fat: <%=  recipe.fat  %></h2>
    <h2>carbs: <%=  recipe.carbs  %></h2>
    <h2>calories: <%=  recipe.calories  %></h2>

</body>
</html>