<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title><%=  recipe.mealName  %></title>
</head>
<body>
<div class="mx-5">
    <br>

    <a class="btn btn-outline-primary" href="/mealPrep">Go Back</a>

    <br><br>

    <h1 class="text-center"><%=  recipe.mealName  %></h1>

    <br>

    <img class="img-fluid rounded mx-auto d-block" src="<%= recipe.image %>">

    <br> <br>

    <h2>About:</h2>
    <%=  recipe.notes  %>

    <br><br>

    <ul>
        <h2>Ingredients:</h2>
        <% recipe.ingredients.forEach(function(item,index){ %>
            
            <% if (item == '') { %> 

                <script>

                    recipe.classList.add('invisible')

                </script>
            
                
            <% } else { %>
                    
                <li class="col-sm"> <%= item %> </li>

            <% } %> 

        <% }) %>
    </ul>


    <br>


<div class="row">    
    <ol>
        <h2>Instructions:</h2>
        <% recipe.instructions.forEach(function(item,index){ %>


            <% if (item == '') { %> 

                <script>

                    recipe.classList.add('invisible')

                </script>
            
                
            <% } else { %>
                    
                <li class="col-sm"> <%= item %> </li>

            <% } %> 


        <% }) %>
    </ol>
</div>

    <br>
    <hr>

    <div class="jumbotron">
    <h2>Nutrition Facts:</h2>
    <br>
    <p>Protein: <%=  recipe.protein  %>g</p>
    <p>Fat: <%=  recipe.fat  %>g</p>
    <p>Carbs: <%=  recipe.carbs  %>g</p>
    <p>Total Calories: <%=  recipe.calories  %> kcal</p>
    </div>

    <br>

    <h6>Created By: <%= recipe.owner.name %></h6>

    <br><br>

    <form action="/mealPrep/<%= recipe._id %>" method="POST">
        <textarea type="text" name="text" class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
        <br>
        <button type="submit" class="btn btn-outline-primary">ADD COMMENT</button>
      </form>

      <br><br><br>


    <form action="/mealPrep/<%= recipe._id %>/edit">
        <input class="btn btn-outline-primary" type="submit" value="EDIT MEAL INFO" />
    </form>

    <br>

    <form action="/mealPrep/<%= recipe._id %>/editMealPhoto">
        <input class="btn btn-outline-primary" type="submit" value="EDIT MEAL PHOTO" />
    </form>



    <br>

    <form method="POST" action="/mealPrep/<%= recipe._id %>?_method=DELETE">
        <input class="btn btn-outline-primary" type="submit" value="DELETE MEAL">
    </form>

    <br>


</div>

<script type="text/javascript" src="/dynamic.js"></script>

</body>
</html>